{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load my_tags %}
{% block page_title %}
    Works To Check
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for contest in expert.contests.all %}
                {% for work in contest.works.all %}
                    {% if work.scores.all|is_expert_checked:expert  is False %}
                        <div class="col-4">
                            <div class="card mb-3" style="max-width: 370px; max-height: 300px">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ work.file.url }}" class="rounded-start w-100 h-100" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ work.title }}</h5>
                                            <p class="card-text">Deadline: {{ contest.end_date|timeuntil }}.</p>
                                            <a href="{{ work.get_absolute_url }}" class="btn btn-primary">ASSESS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}