{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6 offset-3">
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Log IN</button>
            </div>
        </div>

    </form>
{% endblock %}

