{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <div class="">
        <img src="{% static 'main/img/main/main-background.svg' %}" alt="" class="w-100">
        {#            <div class="row banner mt-3 mt-lg-5 pt-lg-4 pt-3">#}
        {#                <div class="col-12 col-lg-7 d-flex flex-row justify-content-center gap-2 gap-lg-3 flex-lg-column align-items-center ">#}
        {#                    <span class="text-right mt-3 mt-lg-0">МЕРОПРИЯТИЯ ОБРАЗОВАТЕЛЬНОГО ПОРТАЛА </span>#}
        {#                    <img src="{% static 'main/img/contact-page/site-logo-head_c.svg' %}"#}
        {#                         class="d-block d-lg-none site-logo-helper " alt="">#}
        {#                    <img src="{% static 'main/img/main/logo-gold.svg' %}" class="d-none d-lg-block" alt="">#}
        {#                </div>#}
        {#                <div class="col-12 col-lg-5 position-relative d-none d-lg-block">#}
        {#                    <img src="{% static 'main/img/main/main-logo-ch.svg' %}"#}
        {#                         class="position-absolute site-logo" alt="">#}
        {#                </div>#}
        {#            </div>#}
{#Salom bu main yani home page!!!#}
    </div>
{% endblock %}