{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container privacy w-100 h-100"
         style="background: url({% static 'main/img/contests/home-back.svg' %}) no-repeat center/cover;    height: 100%;
                 width: 100%;padding: 5px 0 100px 0">
        <div class="container-m w-100 mt-3 d-block d-lg-flex justify-content-lg-between">
            <div class="text">
                <h1 class="rules">ПРАВИЛА</h1>
            </div>
            <div class="img text-lg-center text-end">
                <img src="{% static 'main/img/privacy/book.svg' %}" alt="" class="">
            </div>
        </div>
        <div class="accordion accordion-flush privacy_p" id="accordionFlushExample">
            <div class="accordion-item border-bottom-0" style="background: none;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="background: none;">
                        ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    </button>
                    <hr class="hr1">
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021
                            Общие положения<br>
                            1. Оператором по обработке персональных данных сайта https://оценика.рф является
                            Образовательный портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН
                            316435000061224) (далее — ОП «НИКА», оператор). <br>
                            2. Данная политика конфиденциальности распространяется на всех клиентов (далее — Посетители,
                            пользователи), которые зашли на сайт https://оценика.рф (далее — Сайт), на их действия,
                            которые они могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в
                            том числе и через вход посредством своего аккаунта в социальных сетях), оформление заявки на
                            участие (и само участие) в конкурсах, олимпиадах, викторинах, тестах, размещение
                            (публикация) личных материалов, отзывов, чтение публикуемой информации, предоставление и
                            получение данных любого типа информации (далее — Услуги). <br>
                            3. Посетители безоговорочно согласны с Политикой конфиденциальности при использовании Услуг,
                            в которой излагаются цели и способы сбора информации, а также условия её хранения и прочее.
                            Если Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права
                            пользоваться Услугами Сайта. <br>
                            4. Оператор для достижения целей осуществляет: сбор, систематизацию, накопление, хранение,
                            уточнение (обновление, изменение), извлечение, использование, передачу (предоставление,
                            доступ), блокирование, удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по
                            решению каких-либо третьих лиц, за исключением случаев, предусмотренных законом Российской
                            Федерации, персональные данные не могут быть переданы третьим лицам без особого и ясного
                            согласия на это Посетителя. <br>
                            Обработка персональных данных осуществляется Оператором смешанным путем: как с
                            использованием, так и без использования средств автоматизации. <br>
                            При сборе персональных данных Оператор обеспечивает их запись, систематизацию, накопление,
                            хранение, уточнение (обновление, изменение), извлечение персональных данных граждан
                            Российской Федерации с использованием баз данных, расположенных в информационных системах,
                            находящихся на территории Российской Федерации.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item border-bottom-0" style="background: none;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                            style="background: none;">
                        ПЕРЕДАВАЕМЫЕ ПРАВА ТРЕТЬИМ ЛИЦАМ
                    </button>
                    <hr class="hr2">
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Necessitatibus consectetur quaerat totam expedita, doloribus ducimus tempora nisi cumque,
                        sapiente at blanditiis inventore id quae culpa voluptates veniam dolores. Explicabo molestias
                        ullam quaerat unde eum aliquam eius repudiandae enim similique aperiam voluptates veniam
                        deleniti temporibus quasi placeat, et non reiciendis officiis! Ab, necessitatibus? Amet,
                        adipisci aspernatur dolorum numquam eos corrupti autem reprehenderit? Atque, modi alias.
                        Voluptate ad, velit, cupiditate quam autem quos natus, in asperiores nulla iure minus saepe
                        ipsum exercitationem quod sed optio! Corrupti necessitatibus enim animi, ea accusamus nam
                        distinctio. Deserunt adipisci velit animi dicta reiciendis ea porro sapiente.</p></div>
                </div>
            </div>
            <div class="accordion-item border-bottom-0" style="background: none;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree" style="background: none;">
                        РЕГИСТРАЦИЯ ПОСЕТИТЕЛЕЙ
                    </button>
                    <hr class="hr3">
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                        odio commodi laudantium atque eaque illo, excepturi explicabo perferendis recusandae adipisci
                        tenetur nulla perspiciatis rem quibusdam voluptate incidunt ipsa ea sequi ex eos! Vero quia
                        fugiat porro minima maiores voluptates, pariatur suscipit dolor quam assumenda accusantium
                        molestias natus amet ullam odit vitae illum voluptatem a, necessitatibus velit doloribus
                        reiciendis! Aliquam eveniet perspiciatis voluptatem accusantium, dolore totam? Enim architecto,
                        at rerum aliquam culpa id explicabo et aspernatur veniam esse ipsa molestias. Ipsum itaque nisi
                        saepe, corporis neque, praesentium delectus assumenda repellat recusandae ad deleniti
                        consectetur labore earum commodi. Iste quo minima earum?<code>.accordion-flush</code> class.
                        This is the third item's accordion body. Nothing more exciting happening here in terms of
                        content, but just filling up the space to make it look, at least at first glance, a bit more
                        representative of how this would look in a real-world application.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item" style="background: none;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour" style="background: none;">
                        ЦЕЛИ ИСПОЛЬЗОВАНИЯ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                    </button>
                    <hr class="hr4">
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quidem
                        deleniti fuga facilis corrupti optio sit dolorem animi ullam, excepturi quibusdam reiciendis!
                        Commodi, eos magni cumque facere nihil quam voluptate aspernatur animi reprehenderit
                        perspiciatis doloremque accusantium autem maiores adipisci laudantium itaque, illum id hic
                        minima voluptas distinctio labore inventore omnis quisquam. Odit distinctio architecto accusamus
                        commodi, obcaecati dolore cumque voluptatum? Optio ex, a temporibus libero sapiente obcaecati
                        earum aperiam vitae quam non ipsam iste sunt quaerat consectetur natus et voluptatem tempore
                        nostrum voluptate quia unde aliquid eos nulla! Omnis magni odit aut ipsum, doloribus eos eaque
                        similique libero ducimus iste</p>.
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
